*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --orange: #FF4500;
    --black: #2D2D2D;
    --text: #555555;
    --gray: #f8f8f8;
    --white: #FFFFFF;
}
html{
    scroll-behavior: smooth;
}
.clm, .wrap{
    display: flex;
    gap: 16px;
}
.clm{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.cent{
    align-items: center;
}
.logo{
    gap: 8px;
    font-weight: 600;
}

p, a, li, td{
    color: var(--text);
    line-height: 1.5;
    word-spacing: 2px;
    font-size: 16px;
}
h1, h2, h3, strong, th{
    color: var(--black);
}
h1{
    font-size: 42px;
    font-weight: 700;
}
h2{
    font-size: 38px;
}



header, footer{
    width: 100%;
    background-color: var(--black);
}
header *, footer *{
    color: var(--white);
}
header>*, footer>*{
    width: min(1400px, 100%);
    padding: 20px;
}

/* Header Section Styling */
.header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    gap: 40px;
}
.menu-btn{
    display: none;
    background-color: transparent;
}



/* Main Section Styling */
main header{
    padding: 32px 20px 120px;
}
main>section{
    width: 100%;
    padding: 48px 20px;
}
main>section>*{
    width: min(1000px, 100%);
}
article>section{
    width: min(800px, 100%);
    padding: 20px;
}
.text{
    width: min(800px, 100%);
    text-align: center;
}
article>header{
    padding: 32px 20px;
}


/* Footer Section */
footer{
    margin-top: 48px;
    padding-top: 40px;
}
.social>a{
    font-size: 0px;
    gap: 0;
}
.copyright{
    border-top: 1px solid var(--gray);
    font-size: 14px;
}


/* Responsive Layout Styling */
@media(max-width:900px){
    .menu-btn{
        display: block;
    }
    nav{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: var(--black);
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        z-index: 99;
        opacity:0;
        overflow: hidden;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    }
    nav>.menu-btn{
        position: absolute;
        right: 20px;
        top: 28px;
    }
    nav.show{
        opacity:1;
        width:60%;
    }
}


/* Other Elements Styling  */
.effect>a{
    position: relative;
    padding: 6px 12px;
    transition: color 0.3s ease;
    z-index: 1;
}
.effect>a::before{
    content: "";
    position: absolute;
    inset: 0;
    background: var(--gray);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
    border-radius: 4px;
}
.effect > a:hover::before {
    transform: scaleX(1);
}
.effect > a:hover {
    color: var(--black);
}

.table-container{
    border-radius: 4px;
    overflow-x: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: var(--gray);
    border-bottom: 1px solid var(--text);
}
tbody> tr{
    border-bottom: 1px solid var(--gray);
}
th, td{
    text-align: left;
    padding: 16px;
}


details{
    border-radius: 2px;
    padding:16px;
    border-left: 2px solid var(--orange);
    background-color: var(--gray);
    
}
summary{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}
summary::after{
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--text);
    border-right: 2px solid var(--text);
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}
details[open]{
    transition: 0.5s ease-in-out;
}
details[open] summary::after {
  transform: rotate(-135deg);
  border-color: var(--orange);
}
details>summary ~ *{
    margin-top: 16px;
    height: auto;
}

.cards>*{
    width: min(250px, 100%);
    padding: 20px;
    border-radius: 4px;
    flex-grow: 1;
    background-color: var(--gray);
}




/* Tool Styling */
.tool{
    background-color: var(--white);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: min(1000px, 93%);
    border-radius: 12px ;
    padding: 48px;
}
fieldset{
    align-items: end;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}
fieldset>div{
    flex-grow: 1;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}




input, select{
    background-color: var(--gray);
    border-bottom: 1px solid var(--text);
    border-radius: 2px;
    padding: 12px;
    height: 40px;
}
input:focus, select:focus {
    outline: none;
    border-bottom: 1px solid var(--orange);
}

.btn{
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid var(--black);
    background-color: transparent;
}
.remove-btn{
    background-color: var(--orange);
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
output{
    font-weight: 700;
    font-size: 32px;
}
button{
    cursor: pointer;
}